div {
  height: 150px;
  margin: 10px 0px;
  background-color: #CCE;
}

.block-div-two {
  width: 300px;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

.centered-div {
  margin: 50px;
}

.relative-one {
  position: relative;
  bottom: 0;
  right: 0;
}

.relative-two {
  position: relative;
}

.absolute-div {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
